@font-face {
  font-family: "Space Mono";
  src: url("@/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("@/assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Anton";
  src: url("../src/assets/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}